flow.json
[
    {
        "id": "95ab365c95ad6815",
        "type": "tab",
        "label": "Alex Idiot Sandwich flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3b77e42fb1341f12",
        "type": "inject",
        "z": "95ab365c95ad6815",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Alex is an idiot 2",
        "payloadType": "str",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "360e9df2bbad4c6c"
            ]
        ]
    },
    {
        "id": "b4fbf99066e14a4c",
        "type": "debug",
        "z": "95ab365c95ad6815",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 300,
        "wires": []
    },
    {
        "id": "c7d9b95c6285b32f",
        "type": "function",
        "z": "95ab365c95ad6815",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 340,
        "wires": [
            [
                "b4fbf99066e14a4c"
            ]
        ]
    },
    {
        "id": "360e9df2bbad4c6c",
        "type": "credentials",
        "z": "95ab365c95ad6815",
        "name": "api_keys",
        "props": [
            {
                "value": "openapi_key",
                "type": "msg"
            }
        ],
        "x": 560,
        "y": 380,
        "wires": [
            [
                "c7d9b95c6285b32f"
            ]
        ]
    }
]